.jumboTron {
  border-bottom: 10px solid rgb(180, 50, 50);
  background-color: rgb(53, 53, 54);
}

.formGroup {
  display: flex;
  justify-content: center;
}

.searchBox {
  width: 20%;
}

.imageHeaderBox {
  justify-content: center;
  border: none;
  align-items: center;
  margin-bottom: 8px;
}

#nameBox {
  margin: -0px;
  border: none;
}

#nameBox {
  border: none;
}
