.jumboTronContainer {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
    url("../employees.png") center no-repeat;
  height: 250px;
  display: flex;
  align-items: center;
}
